<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caltech.natalassistsplus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdateMedicalHistoryReportActivity"></activity>
        <activity android:name=".CreateForumPostActivity" />
        <activity android:name=".CreateAlarmActivity" />
        <activity android:name=".MonitorForumActivity" />
        <activity android:name=".ManageUserAccountActivity" />
        <activity android:name=".CrashReportActivity" />
        <activity android:name=".UserFeedbackActivity" />
        <activity android:name=".UtilisationHistoryActivity" />
        <activity android:name=".UpdateHealthActivity" />
        <activity android:name=".AddNewPatientActivity" />
        <activity android:name=".patientListActivity" />
        <activity android:name=".MedicAdminHomeActivity" />
        <activity android:name=".MedicalPractitionerSetupActivity" />
        <activity android:name=".UpcomingScheduleActivity" />
        <activity android:name=".MedicalHistoryActivity" />
        <activity android:name=".ReportDetailActivity" />
        <activity android:name=".MedicalReportActivity" />
        <activity android:name=".MainContentActivity" />
        <activity android:name=".MotherSetupActivity" />
        <activity android:name=".RoleActivity" />
        <activity android:name=".AccountRecoveryActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>